@media screen and (max-width:799px) {
    body {
        width: calc(100% - 20px);
        background-color: white;
        padding: 10px;
        padding-bottom: 25px;
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }

    table {
        padding-right:15px;
        width:calc(100%-30px);
    }
    .tab,.tabcontent {
        width:calc(100% - 40px);
    }
    iframe {
        width:100%;
    }
}

@media screen and (min-width:800px) {
    html {
        background-image: url('https://jarsno-studios.github.io/assets/star.png');
        width: 100%;
    }


    body {
        width: 850px;
        background-color: white;
        margin: auto;
        padding: 10px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-top: 10px;
        padding-left:20px;
        padding-right:20px;
        margin-bottom:10px;
    }
}

* {
    font-family: sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

a {
    color:#fd4f07;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table td div a {
    text-decoration: none;
    color: black;
    margin-left:15px;
}

table a:hover {
    text-decoration: underline;
}
